# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs
*~
\#*\#
.\#*
# C++
*.o
*.a
*.gch
*.out
*.exe

build/
# SFML and other libraries
include/SFML/
lib/
share/
usr/
include/
# IDE
.idea/
cmake-build-debug/
_linux/
codestyles/
colors.scheme.xml
